#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  gap: 48px;
  flex-direction: column;
  padding: 24px;
  max-width: 1280px;
  @media (min-width: 768px) {
    padding: 92px;
  }
}

.container {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.neon-text {
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #fff,
    0 0 21px rgba(255, 255, 255, 0.53), 0 0 41px;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-self: center;
}

.additional-info_container {
  height: 100%;
  width: 100%;
  min-height: 480px;
  text-align: start;
  margin: auto;
}
